*{
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card{
    border : 1px solid white;
    background: white;
    max-width: 26rem;
    padding: 40px;
    border-radius: 12px;
    position: relative;
}

.heading{
    background-color: #ff1093;
    padding: 15px 30px;
    border-radius: 4px;
    text-align: center;
    position: absolute;
    top: -15px;
    right: 40px;
    left: 40px;
}

.content{
    margin-top: 2.3rem;
    line-height: 1.5;
    font-size: 1.09rem;
}

@media only screen and (max-width: 768px) {
    .card {
        max-width: 26rem;
        padding: 30px;
    }
    
    .heading {
        padding: 12px 20px;
        right: 20px;
        left: 20px;
    }
    
    .content {
        font-size: 1.08rem;
    }
}

@media only screen and (max-width: 480px) {
    .card {
        max-width: 21rem;
        padding: 30px;
    }
    
    .heading {
        padding: 10px 15px;
        font-size: 0.9rem;
    }
    
    .content {
        margin-top: 2rem;
        font-size: 1.05rem;
    }
}